<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="container">
    <%- include('../partials/header' , {pagina: 'sobre'}) %>
    <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Alguma coisa sobre mim!</p>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>